<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>my app</title>
</head>
<body>
    <div> <!--welcome script-->
        <h1>
            welcome to my app
        </h1>

        <p>
            guten tag
        </p>
    </div>

    <hr>

    <div><!--return test-->
        <!--
        Doppelte geschweifte Klammern = Variable vom Server
        Geschweifte Klammer + Prozent = Jinja-Anweisung (z. B. Schleife oder if)
        -->
        <p>
            diese app wurde gemacht von mir, {{name}} und ich bin {{age}} jahre alt
        </p>
    </div>

    <div> <!--script zum route wechseln-->
        <button id="nextroute" class="button">
            sete nummer2
        </button>

        <script src="static/index_button_route.js"></script>
    </div>
</body>
</html>